<?php
/* Config.
*
* DEFAULT_BOT: Forward messages to that bot if no other bot fits.
*
* LOCATION_BOT: Forward messages with a location to that bot.
*
* EXCLUDE_DIRS: Exclude these dirs and do not forward messages to them.
*
* The values 'raid' and 'quest' must be equal to the directory names!
* If your bot directory names are different, change them accordingly!
*
*/
define('DEFAULT_BOT',	'raid');
define('LOCATION_BOT',	'quest');
define('EXCLUDE_DIRS',	'');
